.env
*.session
*.session-journal
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
dist/
build/
*.spec.bak
venv/
logs/*.log
logs/*.log.*
data/*.db
data/*.db-journal
data/*.session
.idea/
.vscode/*
!.vscode/settings.json
